<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CAS Project Setup</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="display-4">Willkommen zur Tobis Coach Chatbot Implementierung</h1>
        <p class="lead">Chatbots für ein Bank-Beratungsgespräch </p>
        <hr class="my-4">
        <p>Wähle einen der folgenden Chatbots aus, um ein Beratungsgespräch mit unterschiedlichen Strategien zu erfahren.</p>
        <a class="btn btn-primary btn-lg" href="/demo-1/demo-1/chat" role="button">Bank Coach Strategie 1</a>
        <a class="btn btn-primary btn-lg" href="/demo-2/demo-2/chat" role="button">Bank Coach Strategie 2</a>
        <a class="btn btn-primary btn-lg" href="/demo-3/demo-3/chat" role="button">Bank Coach Strategie 3</a>
      </div>
  </body>
</html>